.navbar-toggler {
  border: 0px;
}
.navbar-toggler-icon {
  width: 1.4em;
  height: 1.4em;
  color: red;
}
.navbar-brand {
  margin-left: 5px;
  font-family: 'Bebas Neue';
  font-size: 24px;
  padding: 1px 0 0 0;
}
@media screen and (min-width: 991px) {
  .navbar {
    height: 40px;
  }
}

ul.navbar-nav {
  font-family: 'Bebas Neue';
  font-size: large;
}