body {
	//font-family: 'Public Sans', sans-serif;
	//font-family: 'Crimson Pro', serif;
	//font-family: 'Gelasio', serif;
	font-family: 'Vollkorn', serif;
	//font-family: 'Averia Serif Libre', cursive;

	background-color: ivory;
}

a.btn {
	font-family: 'Averia Serif Libre', cursive;
}
h1 {
	font-size: 10em;
	font-family: 'Bebas Neue';
	line-height: 0.8em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.4em;	
}
.container {
	margin-top: 15%;
}
.btn {
	margin-top: 1em;
}