body {
	background-color: ivory;
}
a.btn {
	font-family: 'Averia Serif Libre';
}
p {
  font-family: 'Crimson Pro';
  font-size: 17pt;
}

h1 {
	font-size: 10em;
	font-family: 'Bebas Neue';
	line-height: 0.8em;
}
h2 {
	font-size: 1.8em;
  font-family: 'Vollkorn';
}
p.no-registration {
  font-family: 'Vollkorn';
  font-size: 1em;
}
h3 {
	font-size: 1.4em;	
  font-family: 'Vollkorn';
}
.container {
	margin-top: 15%;
}
.btn {
	margin-top: 1em;
}

.bg-gold {
	background-color: gold;
	padding: 0 8px 0px 8px;
	border-radius: 5px;
}
.margin-bottom-7 {
	margin-bottom: 10%;
}
.margin-top-50 {
	margin-top: 50px;
}
h2 {
	text-align: center;
}
.font {
	font-family: 'Crimson Pro';
	font-size: 17pt;
}
.container {
	margin-bottom: 50px;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.image {
	border-radius: 10px; 
	margin-bottom: 20px;
}
.margin-bottom-40 {
	margin-bottom: 25px;
}
.clip {
	overflow-x: clip;
}
.center {
	text-align: center;
}
p {
text-indent: 10px;
}
.hidden {
display: none;
}
.h2-span {
font-size: 0.8em;
}