.form-control {
	min-height: 32px;
	height: 0;
}
.form-select, .form-control {
	cursor: pointer;
  line-height: 1.1;
}
.resize-canvas-wrapper {
	width: 100px !important; /* https://stackoverflow.com/questions/42340342/cant-make-chart-js-responsive */
}
.no-margin-bottom {
	margin-bottom: 0!important;
}
.time-shortcut {
	margin-right: 5px;
	font-size: 14px;
  cursor: pointer;
}
.custom-label {
	font-weight: bold;
	font-size: 14px;
	color: gray;
}
.custom-helper {
	font-size: 14px;
	color: gray;
  margin-top: 5px;
}
.refresh_reset_buttons {
  padding-top: 25px;
  margin-bottom: 5px;
}
@media screen and (max-width: 991px) {
    .refresh_reset_buttons {
    padding-top: 0;
  }
}
.hidden {
  display: none;
}
.canvas-wrapper {
  width: 100%;
  //border: 1px solid #dee2e6;
  //border-top: 1px solid #dee2e6;
}
.container-padding {
  padding: 5px 15px;
}
.active-filter {
  //background-color: mediumseagreen;
  background-color: gold;
  padding: 3px 7px 5px 7px;
  border-radius: 4px;
  //color: white;
}


.bg-light {
  background-color: transparent!important;
  border-bottom: 1px solid;
  border-color: #dee2e6;
}

.chart-name {
  font-size: 14px;
  color: #666666;
  font-weight: normal; 
  text-align: center; 
  margin-bottom: 0; 
  padding: 0 10px;
}

.margin-left-6 {
  margin-left: 6px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 20px;
}
.margin-top-10 {
  margin-top: 20px;
}
.margin-bottom-50 {
  margin-bottom: 30%;
}
table {
  margin-top: 8px;
  border-top: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
}
td {
  padding: 0px 10px;
  font-size: 13px;
  color: #666666;
  text-align: center;
}
body {
  background-color: snow;
}
.navbar {
  background-color: snow!important;
}

#loading {
  margin-top: 20%;
  text-align: center;
  display: none;
}

/* https://loading.io/css/ */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 60px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

#sankey_chart__in .link:hover {
  stroke: gold;
  stroke-opacity: 1;
  cursor: pointer!important;
}

.dataTables_wrapper {
  font-size: 14px;
  text-align: left;
}
.dataTables_wrapper th {
  color: gray;
  vertical-align: middle;
}
.dataTables_wrapper td {
  color: black;
  text-align: left;
}

.dataTable tr td {
  padding-right: 15px;
  vertical-align: middle;
}
#elements_interactions_table tbody {
  cursor: pointer;
}
#elements_interactions_table tbody tr:hover {
  background-color: lightgray;
  //background-color: #f2f2f2;
}


.grid-lines line {
  stroke: gray;
  stroke-opacity: 0.2;
}

.toggle-datatable {
  font-size: 14px;
  cursor: pointer;
}
.datatable-records {
  font-size: 14px;
}

.percent {
  background-image: linear-gradient(to right, lightskyblue 0%, lightskyblue 100%);
  background-repeat: no-repeat;
}
.sankey_chart {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}
#linear_chart {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  //margin-bottom: 20px;
}
.icon {
  font-size: 28px;
}

table.dataTable>tbody>tr.child span.dtr-title {
  min-width: 0;
}

h6 {
  text-align: center;
}